.wallpapers_4{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}
.wallpaperSlider{
    transition: all ease-in-out 0.5s;
    height: 100%;
    width: 100%;
}
.wall_paper{
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.glassBox,
.glassBoxOff{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(30px);
    background: rgb(0 0 0 / 10%);
    display: flex;
    transition: all ease-in-out 0.6s;
}
.glassBoxOff{
    background: rgb(0 0 0 / 30%);
    backdrop-filter: blur(2px);
}
.glassBoxCtn{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.glassBoxScroll{
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
@media only screen and (max-width: 999px) {
    .glassBoxScroll{
        overflow: hidden;
        overflow-y: scroll;
        padding: 30px 10px;
    } 
}