.offersLeft{
    margin: auto;
    display: grid;
    grid-gap: 30px;
}
.oferrs_2{
    color: rgb(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: bold;
}
.oferrs_1{
    color: rgb(255, 255, 255, 1);
    font-size: 40px;
    font-weight: bold;

}
.countC,
.countMsg{
    color: rgb(255, 255, 255, 1);
    font-size: 53px;
    font-weight: bold;
}
.countMsg{
    color: rgb(255, 255, 255, 0.8);
    font-size: 15px;
}
.offersPrices{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
label {
    font-size: 17px;
    font-weight: bold;
    color: rgb(255 255 255 / 80%);
    padding: 0 0 5px 20px;
    display: table;
}
.button_send{
    width: 100%;
    padding: 10px 20px;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: auto;
    margin-bottom: 10px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}
.button_send:hover{
    background: #fff;
    color: #1d1d1d;
}

@media only screen and (max-width: 999px) {
    .fullPage {
        height: auto;
        padding-left: 30px;
        padding-right: 30px;
        white-space: break-spaces;
    }
    .offersPrices,
    .offersCtn{
        grid-template-columns: auto;
    }
    .offersRight{
        margin-top: 50px;
        max-width: 400px;
    }
    .offersCardCtn{
        padding-left: 0 !important;
    }
}