*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6;
    font-family: "Rubik", sans-serif;
    color: #fff;
}
@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #fff;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a{
    color: #fff;
    text-decoration: none;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fullPage{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
}
.pageFlex{
    width: 100%;
}

.offerBolb{
    box-shadow: 0 0 6px 1px #fff;
    background: #fff;
    border-radius: 50px;
    height: 25px;
    width: 25px;
}
.offersCtn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    white-space: break-spaces;
}
  
input,
textarea{
  border: none;
  outline: none;
  color: rgb(255 255 255 / 80%);
}
input[type="button"], input[type="file"], input[type="radio"], input[type="Checkbox"]{
  display: none;
}
input,
textarea{
    width: 100%;
    padding: 0 20px;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 45px;
    margin-bottom: 10px;
    font-size: 17px;
}
textarea{
    resize: none;
    text-indent: 10px;
    padding: 10px;
    overflow: hidden;
    height: auto;
    border-radius: 10px;
}
textarea::placeholder,
input::placeholder{
    color: rgba(255, 255, 255, 0.8);
}

.routeNavCtn,
.routeNavCtnOn{
    margin-left: 20px;
    position: relative;
    color: rgba(255, 255, 255, 0.6);
    display: grid;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border: 1px solid rgb(255 255 255 / 30%);
    background: rgb(0 0 0 / 30%);
    place-items: center;
    border-radius: 50px;
}
.routeNavCtnOn,
.routeNavCtn:hover{
    color: #1d1d1d;
    background: #fff;
}
.routeNavCtnOn i,
.routeNavCtn i{
    color: inherit;
}
.languageSwitcher{
    display: grid;
    position: relative;
    width: 40px;
    align-items: center;
    margin-left: 20px;
    border: 1px solid rgb(255 254 254 / 30%);
    border-radius: 50px;
    background: rgb(0 0 0 / 30%);
}
.navBarPos{
    font-size: 35px;
    border-radius: 5px;
    font-weight: bold;
    display: grid;
    place-items: center;
    margin-left: 20px;
}
.lang,
.langOn{
    height: 38px;
    width: 100%;
    font-size: 15px;
    position: relative;
    color: rgba(255, 255, 255, 0.6);
    display: table;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    display: grid;
    place-items: center;
    place-items: center;
    text-align: center;
    border-radius: 50px;
}
.langOn,
.lang:hover{
    background: #fff;
    color: #1d1d1d;
}

